# NanoArch Configuration
physical_w=1980
physical_h=1080
rotation=0
volume=60
keep_aspect=1
joystick=/dev/input/event7

# for 480x800 screen
# physical_w=480
# physical_h=800
# rotation=90
# volume=60
# keep_aspect=1
# joystick=/dev/input/event3
